template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_logicappTestDavid_name": {
            "defaultValue": "logicappTestDavid",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_logicappTestDavid_name')]",
            "location": "centralus",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {},
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "method": "POST",
                                "schema": {
                                    "properties": {
                                        "dato": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "If_scope_failed": {
                            "actions": {
                                "Response_3": {
                                    "runAfter": {},
                                    "type": "Response",
                                    "kind": "Http",
                                    "inputs": {
                                        "body": "Scope Failed",
                                        "statusCode": 200
                                    }
                                }
                            },
                            "runAfter": {
                                "Scope": [
                                    "Skipped",
                                    "Failed"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Response": {
                                        "runAfter": {
                                            "Switch": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "Response",
                                        "kind": "Http",
                                        "inputs": {
                                            "body": "respuesta",
                                            "statusCode": 200
                                        }
                                    },
                                    "Switch": {
                                        "runAfter": {},
                                        "cases": {
                                            "Case": {
                                                "case": 1,
                                                "actions": {
                                                    "Set_variable_3": {
                                                        "runAfter": {},
                                                        "type": "SetVariable",
                                                        "inputs": {
                                                            "name": "VariableSwitch",
                                                            "value": "es Lunes"
                                                        }
                                                    }
                                                }
                                            },
                                            "Case_2": {
                                                "case": 2,
                                                "actions": {
                                                    "Set_variable_4": {
                                                        "runAfter": {},
                                                        "type": "SetVariable",
                                                        "inputs": {
                                                            "name": "VariableSwitch",
                                                            "value": "es Martes"
                                                        }
                                                    }
                                                }
                                            },
                                            "Case_3": {
                                                "case": 3,
                                                "actions": {
                                                    "Set_variable_5": {
                                                        "runAfter": {},
                                                        "type": "SetVariable",
                                                        "inputs": {
                                                            "name": "VariableSwitch",
                                                            "value": "es Miercoles"
                                                        }
                                                    }
                                                }
                                            },
                                            "Case_4": {
                                                "case": 4,
                                                "actions": {
                                                    "Set_variable_6": {
                                                        "runAfter": {},
                                                        "type": "SetVariable",
                                                        "inputs": {
                                                            "name": "VariableSwitch",
                                                            "value": "es Jueves"
                                                        }
                                                    }
                                                }
                                            },
                                            "Case_5": {
                                                "case": 5,
                                                "actions": {
                                                    "Set_variable_7": {
                                                        "runAfter": {},
                                                        "type": "SetVariable",
                                                        "inputs": {
                                                            "name": "VariableSwitch",
                                                            "value": "es Viernes"
                                                        }
                                                    }
                                                }
                                            },
                                            "Case_6": {
                                                "case": 6,
                                                "actions": {
                                                    "Set_variable_8": {
                                                        "runAfter": {},
                                                        "type": "SetVariable",
                                                        "inputs": {
                                                            "name": "VariableSwitch",
                                                            "value": "es Sabado"
                                                        }
                                                    }
                                                }
                                            },
                                            "Case_7": {
                                                "case": 7,
                                                "actions": {
                                                    "Set_variable_9": {
                                                        "runAfter": {},
                                                        "type": "SetVariable",
                                                        "inputs": {
                                                            "name": "VariableSwitch",
                                                            "value": "es Domingo"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "default": {
                                            "actions": {
                                                "Response_2": {
                                                    "runAfter": {},
                                                    "type": "Response",
                                                    "kind": "Http",
                                                    "inputs": {
                                                        "body": "no valido",
                                                        "statusCode": 200
                                                    }
                                                }
                                            }
                                        },
                                        "expression": "@triggerBody()?['dato']",
                                        "type": "Switch"
                                    }
                                }
                            },
                            "expression": {
                                "or": [
                                    {
                                        "equals": [
                                            "@result('Scope')[0]['status']",
                                            "Failed"
                                        ]
                                    },
                                    {
                                        "equals": [
                                            "@result('Scope')[0]['status']",
                                            "Aborted"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Initialize_variable": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "VariableIf",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_2": {
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "VariableSwitch",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Scope": {
                            "actions": {
                                "Condition": {
                                    "actions": {
                                        "Set_variable": {
                                            "runAfter": {},
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "VariableIf",
                                                "value": "{\"if\": \"es impar\" ,\"switch\": \"Es Miercoles\"}"
                                            }
                                        }
                                    },
                                    "runAfter": {},
                                    "else": {
                                        "actions": {
                                            "Set_variable_2": {
                                                "runAfter": {},
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "VariableIf",
                                                    "value": "{\"if\": \"es par\" ,\"switch\": \"Es Miercoles\"}"
                                                }
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "not": {
                                                    "equals": [
                                                        "@mod(triggerBody()?['dato'],2)",
                                                        0
                                                    ]
                                                }
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "Initialize_variable_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Scope"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {}
            }
        }
    ]
}